
# pixi environments
.pixi
*.egg-info

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore temporary Python files
__pycache__/
*.pyc
*.pyo

# Ignore dataset files (optional: you can download them separately)
assets/*

# But keep this .gitkeep file (useful for keeping empty folders in Git)
!assets/.gitkeep

# Ignore model weights and logs (optional)
*.h5
*.ckpt
logs/

